*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  width: 100%;
  height: 100vw;
  border: 2px solid red;
  display: grid;
  
  
  grid-template-columns: repeat(20 , 5vw);
  grid-template-rows: repeat(11 , 5vw);



}

.i1{
  width: 100%;
  height: 100%;
  grid-column: 4/8 ;
  grid-row: 1/7;
  padding: 0.5vw;
  border-radius: 1vw;
}

.i2{
  width: 100%;
  height: 100%;
  grid-column: 8/12 ;
  grid-row: 5/12;
  padding: 0.5vw;
  border-radius: 1vw;

}

.i3{
  width: 100%;
  height: 100%;
  grid-column: 12/17 ;
  grid-row: 1/7;
  padding: 0.5vw;
  border-radius: 1vw;

}

.i4{
  width: 100%;
  height: 100%;
  padding: 0.5vw;
  border-radius: 1vw;
  
  
  

  grid-column: 4/8 ;
  grid-row: 7/12;
}

.i5{
  width: 100%;
  height: 100%;
  padding: 0.5vw;
  border-radius: 1vw;

  grid-column: 8/12 ;
  grid-row: 1/5;
}

.i6{
  width: 100%;
  height: 100%;
  padding: 0.5vw;
  border-radius: 1vw;

  grid-column: 12/17 ;
  grid-row: 7/12;
}





