.box{
    background-color: aqua;
    width: 100%;
    height: 100%;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items : center;
    justify-self: center;
    
    align-self: center;
    transition: all 0.5s ease-in-out;
}

.box1{
    background-color: black;
    grid-area: a1;
}
.box2{
    /* background-color: black; */
    grid-area: a2;
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5; */
}

.box3{
    /* background-color: black; */
    grid-area: a4;
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start : 5 ;
    grid-row-end : 6 ; */
}
.box4{
    /* background-color: black; */
    grid-area: a5;
}
.box5{
    /* background-color: black; */
    grid-area: a6;
}
.box6{
    /* background-color: black; */
    grid-area: a7;
}
.box7{
    /* background-color: black; */
    grid-area: a8;
}
.box8{
    /* background-color: black; */
    grid-area: a9;
}
.box9{
    /* background-color: black; */
    grid-area: a10;
}


.container{
    border: 0.2vw solid black;
    gap: 2vw;
    display: grid;
    width: 100%;
    height: auto;
    padding: 4vw 0;
    grid-template-rows: repeat(6 , 15vw) ;
    grid-template-columns: repeat(4 , 20vw) ;
    align-items: center;
    justify-items: center;
    justify-content: center; 
    align-content: center;
    transition: all 0.5s ease-in-out;
    grid-template-areas : 
    
    
    'a1 a1 a1 a2'
    'a1 a1 a1 a4'
    'a1 a1 a1 a8'
    'a5 a6 a7 a8'
    'a9 a9 a10 a10'
    'a9 a9 a10 a10'
    
    
    
    
    ;
    
}


@media screen and (min-width : 768px) and (max-width : 992px) {

    .container{
        border: 0.2vw solid black;
        gap: 2vw;
        display: grid;
        padding: 4vw 0;
        width: 100%;
        height: auto;
        grid-template-rows: repeat(8 , 25vw) ;
        grid-template-columns: repeat(3 , 25vw) ;
        align-items: center;
        justify-items: center;
        justify-content: center; 
        align-content: center;
            grid-template-areas : 
            
            'a4 a2 a5'
            
            'a1 a1 a1'
            'a1 a1 a1'
            'a1 a1 a1'
            
            'a6 a7 a8'
            'a6 a7 a8'

            'a9 a9 a9'
            'a10 a10 a10'
            
            
            
            
            
            
            ;
            
        }

}



@media screen and (max-width : 768px) {

    /* .container{
        border: 0.2vw solid black;
        gap: 2vw;
        display: grid;

        width: 100%;
        height: auto;
        grid-template-rows: repeat(12 , 15vw) ;
        grid-template-columns: repeat(2 , 40vw) ;
        align-items: center;
        padding: 4vw 0;
        justify-items: center;
        justify-content: center; 
        align-content: center;
            grid-template-areas : 
            
            
            'a1 a1'
            'a1 a1'
            'a4 a2'
            'a4 a2'
            
            'a5 a6'
            'a5 a6'
            'a7 a7'
            'a7 a7'
            'a8 a9'
            'a8 a9'
            'a10 a10'
            'a10 a10'
            
            
            
            
            
            ;
            
        } */


        .box1{
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .box2{
            grid-column-start: 2;
            grid-column-end: 4;
        }

}





