.all{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    margin-top: 2vw;
    margin-left: 2vw;
}


.class{
    width: 25vw;
    height: 40vw;
    border: 2px solid black;
    padding: 2vw;
    font-size: 1.2vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    
}
.class:hover{
    width: 25vw;
    height: 40vw;
    border: 2px solid black;
    padding: 2vw;
    font-size: 1.2vw;
    border-radius: 2vw;
    box-shadow: 1px 10px 25px;
    transform: scale(1.05);

}

.btn{
    width: 15vw;
    height: 5vw;
    border-radius: 3vw;
    position: fixed;
    left: 83vw;
    top: 45vw;
    font-size: 1.5vw;
    font-weight: 800;
    color: white;
    cursor: pointer;
    transition: all 1s ease-in-out;
    background: linear-gradient( to right , blue , rgb(243, 30, 65));
}
.btn:hover{
    width: 15vw;
    height: 5vw;
    border-radius: 0vw;
    background: linear-gradient( to right , rgb(243, 30, 65) , blue);
}

.img{
    width: 25vw;
}

.id{
    font-size: 1.5vw ;
}

.name{
    font-size: 1.5vw;
}
.disc{
    font-size: 1.3vw;
}

.nav{
    width: 100%;
    height: 8vw;
    cursor: pointer;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

.color{
    color: red;
    cursor: pointer;
    font-weight: 900;
}

.pop{
    width: 55vw;
    height: 5vw;
    display: flex;
    z-index: 1;
    font-weight: 500;
    position: fixed;
    font-size: 2vw;
    background-color: white;
    justify-content: center;
    padding: 2vw;
    border: 0.2vw solid black;
    border-radius: 2vw;
    margin-left: -100vw ;
    transition: all 0.8s ease-in-out;

}













@media screen and (max-width : 500px) {
    .class{
        width: 40%;
        height: 70vw;
    }
    .class:hover{
        width: 40%;
        height: 70vw;
    }
    .img{
        width: 100%;
    }
    .id{
        font-size: 3vw;
    }
    .name{
        font-size: 3vw;
    }
    .disc{
        font-size: 2.5vw;
    }
    .btn{
        width: 45vw;
        height: 13vw;
        position: fixed;
        
        border-radius: 6vw;
        font-size: 3.5vw;
        left: 50vw;
        top: 180vw;
        
    }
    .btn:hover{
        width: 45vw;
        height: 13vw;
        border-radius: 6vw;
        font-size: 3.5vw;
        
    }

    .pop{
    width: 80vw;
    height: 18vw;
    display: flex;
    z-index: 1;
    font-weight: 500;
    position: fixed;
    font-size: 5vw;
    background-color: white;
    justify-content: center;
    padding: 4vw;
    border: 0.2vw solid black;
    border-radius: 5vw;
    margin-left: -100vw ;
    transition: all 0.8s ease-in-out;

    }

    .nav{
    width: 100%;
    height: 13vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    position: fixed;
    top: 0;
    }

    .all{
        margin-top: 18vw;
        margin-bottom: 10vw;
    }

}






