*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.navbar{
  width: 100%;
  height: 6vw;
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  align-items: center;
  justify-content: space-around;
  padding: 0vw 1vw;
  transition: all 0.7s ease-in-out;
  border: 2px solid black;
}

h1{
  font-size: 3vw;
}

.link{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menubar{
  /* display: none; */
  
  border: 2px solid red;
  width: 5vw;
  height: 5vw;
  display: none;
  cursor: pointer;
  gap: 0.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar1 , .bar2 , .bar3{
  width: 3vw;
  background-color: black;
  height: 0.3vw;
}

.container{
  margin-top: 7vw;
  width: 100%;
  height: auto;
  border: 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw;
}

.card{
  display: flex;
  width: 35%;
  
  height: 30vw;
  border: 2px solid black;
  justify-content: space-evenly;
  
  flex-direction: column;
  align-items: center;
  border-radius: 2vw;
  
}

.img{
  width: 70%;
  border-radius: 2vw;
  
}

.title{
  font-size: 2vw;
}

.btn{
  width: 10vw;
  height: 5vw;
  background-color: green;
  color: white;
  font-weight: 900;
  border-radius: 2vw;

}

.title1{
  font-size: 1.2vw;
}

.title2{
  font-size: 3vw;
  text-align: center;
}

.card1{
  border: 2px solid black;
  flex-wrap: wrap;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 2vw;
  height: 30vw;
  align-items: center;
  height: 20vw;
}
.card11{
  /* border: 2px solid black; */

  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 2vw;
  height: 30vw;
  padding-top: 5vw;
  align-items: center;
  height: 20vw;
}




.calculater{
  width: 50%;
  height: auto;
  border-radius: 2vw;
  background-color: black;
  margin-left: 25vw;
  margin-top: 8vw;
  margin-bottom: 10vw;


  /* border: 2px solid red; */
}

.ans{
  color: white;
  width: 100%;
  height: 15vw;
  font-size: 10vw;
  font-weight: 900;
  padding: 1vw 3vw;
  text-align: end;

  /* border: 2px solid red; */

}

.grid{
  width: 100%;
  height: 50vw;
  padding-bottom: 2vw;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  justify-items: center;
  align-items: center;




  /* border: 2px solid red; */


}

.c{
  width: 8vw;
  height: 8vw;
  font-size: 3vw ;
  font-weight: 900;
  color: white;
  border-radius: 50%;
}

.c1{
  background-color: #A3A0A5;
}

.c2{
  background-color: #4F4F4F;
}

.c3{
  background-color: #FF9800;
}

.cc{
  width: 20vw;
  border-radius: 5vw;
  grid-column: 1/3 ;
}


























@media screen and (max-width : 728px){
  .menubar{
    display: flex;
  }
  
  
  .link{
    position: absolute;
    flex-direction: column;
    height: 15vw;
    margin-top: 25vw;
    display: flex;
    margin-left: 10vw;
    border: 0.2vw solid black;
    border-radius: 2vw;
    width: 15vw;
    background-color: white;
  }

  .link p {
    font-size: 3vw;
  }

  .card{
    width: 90%;
    height: 60vw;

  }

  .title{
    font-size: 4vw;
  }

  .btn{
    width: 30vw;
    height: 10vw;
    font-size: 3vw;
  }


  .container{
    gap: 3vw;
    padding: 5vw 0;
  }

  .card1{
    width: 40%;
    gap: 2vw;
    height: 50vw;
  }

  .card11{
    width: 90%;
    height: 30vw;
    background-color: rgb(229, 236, 248);
  }

  .title1{
    font-size: 4vw;
  }

  .title2{
    font-size: 6vw;
  }




}











