.input{
    width: 30vw;
    height: 4vw;
    border-radius: 4vw;
    padding-left: 2vw;
    font-size: 2vw;
    font-weight: 900;
}

.btn{
    width: 15vw;
    height: 5vw;
    border-radius: 3vw;
    background: linear-gradient(to left , red , orange);
    font-size: 2vw;
    font-weight: 900;
    color: white;
    cursor: pointer;
    position: fixed;
    /* top : 10vw; */
    left: 52vw;
}

.btn:hover{
    width: 15vw;
    height: 5vw;
    border-radius: 3vw;
    background: linear-gradient(to left , orange , red);
    font-size: 2vw;
    font-weight: 900;
    color: white;
}

.btnde{
    width: 15vw;
    height: 5vw;
    border-radius: 3vw;
    background: linear-gradient(to left , red , orange);
    font-size: 2vw;
    font-weight: 900;
    color: white;
    cursor: pointer;
    position: fixed;
    top : 10vw;
    left: 52vw;
}
.btnde:hover{
    width: 15vw;
    height: 5vw;
    border-radius: 3vw;
    background: linear-gradient(to left , orange , red);
    font-size: 2vw;
    font-weight: 900;
    color: white;
}
.delete1{
    width: 20vw;
    height: 5vw;
    border-radius: 3vw;
    background: linear-gradient(to left , red , orange);
    font-size: 2vw;
    font-weight: 900;
    color: white;
    cursor: pointer;
    position: fixed;
    top : 20vw;
    left: 50vw;
}
.delete1:hover{
    
    border-radius: 3vw;
    background: linear-gradient(to left , orange , red);
    font-size: 2vw;
    font-weight: 900;
    color: white;
}

li{
    font-size: 2vw;
    font-weight: 700;
}



