.img{
    width: 30vw;
    height: 20vw;
}

.btn1{
    width: 15vw;
    height: 3vw;
    border-radius: 2vw;
    background: linear-gradient(to right , red , orange);
    font-weight: 800;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 30vw;
    font-size: 1.5vw;
}
.btn1:hover{
    width: 15vw;
    height: 3vw;
    border-radius: 2vw;
    background: linear-gradient(to right , orange , red);
    font-weight: 800;
    cursor: pointer;
    color: white;
    
    font-size: 1.5vw;
}

.btn2{
    width: 15vw;
    height: 3vw;
    border-radius: 2vw;
    background: linear-gradient(to right , red , orange);
    font-weight: 800;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 30vw;
    left: 50vw;
    font-size: 1.5vw;
}
.btn2:hover{
    width: 15vw;
    height: 3vw;
    border-radius: 2vw;
    background: linear-gradient(to right , orange , red);
    font-weight: 800;
    cursor: pointer;
    color: white;
    font-size: 1.5vw;
}









