.card{
    width: 30vw;
    height: 30vw;
    border: 3px solid red;
    margin-left: 30vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count1 ,.count2 {
    font-size: 5vw;
    font-weight: 800;
    cursor: pointer;

}

.btn{
    width: 10vw;
    height: 5vw;
    font-size: 2vw;
    font-weight: 800;
    border-radius: 2vw;
    color: white;
    margin-top: 5vw;
    margin-left: 40vw;
    cursor: pointer;
    background: linear-gradient(to right , red , orange);
}
.btn:hover{
    width: 10vw;
    height: 5vw;
    font-size: 2vw;
    font-weight: 800;
    border-radius: 2vw;
    color: white;
    
    background: linear-gradient(to right , orange , red);
}





