.para11{
    font-size: 3vw;
}

.para3{
    background-color: blue;
}


.para4{
    font-size: 4vw;
}



.img{
    width: 60vw;
    height: 40vw;
    margin-left: 20vw;
    transition: all 1s ease-in-out;
    
}
h1{
    width: 20vw;
    height: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40vw;
    border: 0.5vw solid green;
    border-radius: 4vw;
    transition: all 1s ease-in-out;
}

